{% extends 'layout.html' %}
{% block body %}


      <div class="col-lg-12">
                <h2 class="page-header" align="center">
                    {{ name }}
                </h2>
      </div>


      {% if data | length == 0 %}
            <div class="alert alert-info">
            <p>No records found</p>
            </div>

        {% else %}

              <h3>Papers Published</h3><br>

              <table class="table" style="width: 50%">
              <col width="30">
              <col width="180">
              <thead class="thead-default">
              <tr>
                <th>#</th>
                <th>Paper</th>
              </tr>
            </thead>

            {% set i = 1 %}
            {% for item in data %}

              <tbody>
              <tr>
              <th scope="row">{{ i }}. </th>
              <td>{{ item}}</td>
              {% set i = i + 1%}
              {% endfor %}
              </tr>
              </tbody>
              </table>
      {% endif %}




{% endblock %}