{% extends 'layout.html' %}
{% block body %}

<br>
<br>

      <div class="panel panel-default">
       <div class="panel-heading">
      <h3 class="panel-title"><b>{{data['T']}}</b></h3>
      </div>
      <div class="panel-body">

      {% for c,d in data['rank'].items() %}
      Category :  <b>{{c}}</b>
      <ul>

      {% for e,f in d.items() %}
        <li><a href="/author/{{e.replace(' ','+')}}">{{ e }}</a>

        {% if not f %}
          <b>---Insufficient data---</b>
        {% else %}
          has rank
        <b>{{ f }}</b></li>
        {% endif %}

      {% endfor %}
      </ul>

  {% endfor %}

</div>
</div>




{% endblock %}