{% extends 'layout.html' %}
{% block body %}

      <div align="center">
      <div class="col-lg-12">
                <h2 class="page-header" align="center">
                    Compare Author Ranks
                </h2>
      </div>

      <form action = "" method = "POST"  enctype = "multipart/form-data">
      <h4>Search for the research paper on <a href="http://www.arxiv.org" target="_blank">Arxiv</a> website and enter Arxiv ID</h4>
         <div class="input-group margin-bottom-sm">
         <input class="form-control" type = "text" name = "id" placeholder = "Enter Arxiv ID here" />
         </div>
         <br>
         <input  class="btn btn-success btn-sm" type = "submit"/>
      </form>
      </div>

  {% if is_resp %}

  <h3>Title : <b>{{ rank_list['T'] }}</b></h3>

    {% for c,d in rank_list['rank'].items() %}
      <h3>Category :  <b>{{c}}</b></h3>

      {% for e,f in d.items() %}
        <div><p>{{ e }}

        {% if not f %}
          <b>---Insufficient data---</b>
        {% else %}
          has rank
        <b>{{ f }}</b></p></div>
        {% endif %}

      {% endfor %}

  {% endfor %}

{% endif %}

{% endblock %}