
    {% extends 'layout.html' %}
    {% block body %}
    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" align="center">
                    Welcome to ResCom - Research Companion Tool
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-users"></i></span> Get Top Authors</h4>
                    </div>
                    <div class="panel-body">
                        <p>See the top authors in any Computer Science domain</p>
                        <a href="/top-authors" class="btn btn-default">Get Started</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-line-chart"></i> Compare Authors</h4>
                    </div>
                    <div class="panel-body">
                        <p>Compare the ranks of the authors of a given paper in all its domains.</p>
                        <a href="/compare" class="btn btn-default">Get Started</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-copy"></i> Get Top Papers</h4>
                    </div>
                    <div class="panel-body">
                        <p>See the top papers in any Computer Science domain</p>
                        <a href="/top-papers" class="btn btn-default">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- /.row -->
        {% endblock %}




