{% extends 'layout.html' %}
{% block body %}

      <div align="center">
      <div class="col-lg-12">
                <h2 class="page-header" align="center">
                    Get Top Authors
                </h2>
      </div>

      <form action = "" method = "POST"  enctype = "multipart/form-data">
      <h4>Enter domain and number of authors you want to retreive</h4>
      <br>

        Domain
         <select name="cat">
    <option value='cs.AR'>Computer Science - Architecture</option>
<option value='cs.AI'>Computer Science - Artificial Intelligence</option>
<option value='cs.CL'>Computer Science - Computation and Language</option>
<option value='cs.CC'>Computer Science - Computational Complexity</option>
<option value='cs.CE'>Computer Science - Computational Engineering; Finance; and Science</option>
<option value='cs.CG'>Computer Science - Computational Geometry</option>
<option value='cs.GT'>Computer Science - Computer Science and Game Theory</option>
<option value='cs.CV'>Computer Science - Computer Vision and Pattern Recognition</option>
<option value='cs.CY'>Computer Science - Computers and Society</option>
<option value='cs.CR'>Computer Science - Cryptography and Security</option>
<option value='cs.DS'>Computer Science - Data Structures and Algorithms</option>
<option value='cs.DB'>Computer Science - Databases</option>
<option value='cs.DL'>Computer Science - Digital Libraries</option>
<option value='cs.DM'>Computer Science - Discrete Mathematics</option>
<option value='cs.DC'>Computer Science - Distributed; Parallel; and Cluster Computing</option>
<option value='cs.GL'>Computer Science - General Literature</option>
<option value='cs.GR'>Computer Science - Graphics</option>
<option value='cs.HC'>Computer Science - Human-Computer Interaction</option>
<option value='cs.IR'>Computer Science - Information Retrieval</option>
<option value='cs.IT'>Computer Science - Information Theory</option>
<option value='cs.LG'>Computer Science - Learning</option>
<option value='cs.LO'>Computer Science - Logic in Computer Science</option>
<option value='cs.MS'>Computer Science - Mathematical Software</option>
<option value='cs.MA'>Computer Science - Multiagent Systems</option>
<option value='cs.MM'>Computer Science - Multimedia</option>
<option value='cs.NI'>Computer Science - Networking and Internet Architecture</option>
<option value='cs.NE'>Computer Science - Neural and Evolutionary Computing</option>
<option value='cs.NA'>Computer Science - Numerical Analysis</option>
<option value='cs.OS'>Computer Science - Operating Systems</option>
<option value='cs.OH'>Computer Science - Other</option>
<option value='cs.PF'>Computer Science - Performance</option>
<option value='cs.PL'>Computer Science - Programming Languages</option>
<option value='cs.RO'>Computer Science - Robotics</option>
<option value='cs.SE'>Computer Science - Software Engineering</option>
<option value='cs.SD'>Computer Science - Sound</option>
<option value='cs.SC'>Computer Science - Symbolic Computation</option>

  </select>

  Limit
         <select name="lim">
    <option value=5>5</option>
<option value=10>10</option>
<option value=50>50</option>
<option value=100>100</option>
</select>

  <br><br>
         <input  class="btn btn-success btn-sm" type = "submit"/>
      </form>
      </div>

  <br><br>
    {% if is_resp %}

            {% if error_code == 1 %}
              <div class="alert alert-danger">
              <p>Please submit a Domain</p>
              </div>

              {% else %}

                           <h4>Domain : <b>{{ title }}</b></h4>
                          {% if data | length == 0 %}
                                <div class="alert alert-info">
                                <p>No records found</p>
                                </div>
                            {% else %}

                                {% set i = 1 %}
                                {% for item in data %}
                                  <b>{{ i }}. </b><a href="/author/{{ item.replace(' ','+') }}">{{ item}}</a><br>
                                  {% set i = i + 1%}
                                  {% endfor %}
                          {% endif %}


              {% endif %}
       {% endif %}

{% endblock %}